.analogWrapper {
    position: relative;
    margin: auto;
    height: 200px;
    width: 200px;
    background: url(/assets/clock.png) no-repeat;
    background-size: 100%;
    border: 1px solid #111;
    background-color: #111;
    .hourHand, .minuteHand, .secondHand {
        position: absolute;
        background: #333333;
        border-radius: 10px;
        transform-origin: bottom;
        border: 2px solid #484848;
    }
    .hourHand {
        width: 5.8%;
        height: 25%;
        top: 26%;
        left: 48.85%;
    }
    .minuteHand {
        width: 4.6%;
        height: 40%;
        top: 11.5%;
        left: 48.9%;
    }
    .secondHand{
        width: 0.5%;
        height: 45%;
        top: 7%;
        left: 50.50%;
        border: 2px solid #f05f5f;
    }
}
  