<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center py-4">Analog Clock and Digital Clock</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 p-4 border">
      <analog-clock></analog-clock>
    </div>
    <div class="col-12 col-md-6 p-4 border">
      <digital-clock></digital-clock>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-sm btn-outline-dark my-3" (click)="openDialog()">Update Time</button>
    </div>
  </div>
</div>
